.root {
    margin: 10% auto;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 3px;
    height: 250px;
    width: 400px;
}

.header {
    color: #2f2936;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px dashed #e2dee6;
    position: relative;
    padding: 10px 30px 8px;
    text-align: center;
}

.headerText {
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 0;
    font-weight: 700;
}

.body {
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
    padding-top: 8px;
    height: 20px;
}

.loading {
    width: 100%;
    height: 1px;
    position: relative;
    overflow: hidden;
}

.loadingStart::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    background: red;
    animation: authProgress 1s infinite linear;
}

@keyframes authProgress {
    0% {
        left: 0;
        width: 5%;
        background-color: red;
        transform: translateX(-100%);
    }
    50% {
        width: 30%;
    }

    100% {
        left: 100%;
        width: 10%;
        background-color: #ffdd2d;
        transform: translateX(0%);
    }
}

.buttons {
    padding-top: 20px;
}
