.root {
    min-height: 62px;
    background-color: #24292e;
}

.menu {
    margin: 0;
    display: flex;
}

.menuItem {
    list-style-type: none;
    padding: 12px;
}

.menuLink {
    text-decoration: none;
    color: white;
}

